<header>
    <h1>Weather app</h1>
    <nav>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/weather">Weather</a>
            </li>
        </ul>
    </nav>
</header>