<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Weather page</title>
    <style>
        #weather {
            padding: 100px;
            text-align: center;
        }

        footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: #ffcccc;
            padding: 20px 0;
            text-align: center;
            box-shadow: 0px 0px 10px 10px #ffe6e6;
        }
        header{
            position: fixed;
            width: 100%;
            background-color: #ffcccc;
            padding: 0 50px ;
            text-align: center;
            box-shadow: 0px 0px 10px 10px #ffe6e6;
        }

    </style>
</head>
<body>
{{> header}}

<main>
    <section id="weather">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-1">
                    <a href="/weather/Zhytomyr">Check Weather</a>
                </div>
            </div>
        </div>
    </section>
</main>

{{> footer}}

</body>
</html>
