<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Weather page</title>
    <style>
        #weather {
            padding: 120px;
            text-align: center;
        }

        footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: #ffcccc;
            padding: 20px 0;
            text-align: center;
            box-shadow: 0px 0px 10px 10px #ffe6e6;
        }
        .list-group-item:hover{
            background-color: #ffcccc;
        }
        header{
            position: fixed;
            width: 100%;
            background-color: #ffcccc;
            padding: 0 50px ;
            text-align: center;
            box-shadow: 0px 0px 10px 10px #ffe6e6;
        }
        .mb-0{
            border: 1px solid gainsboro;
        }

    </style>
</head>
<body>
{{> header}}
<main>
    <section id="weather">
        <p> Погода {{city}}</p>
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="list-group mb-3">
                        <a class="list-group-item" href="/weather/Kyiv">Київ</a>
                        <a class="list-group-item" href="/weather/Zhytomyr">Житомир</a>
                        <a class="list-group-item" href="/weather/Kharkiv">Харків</a>
                        <a class="list-group-item" href="/weather/Lviv">Львів</a>
                        <a class="list-group-item" href="/weather/Vinnytsia">Вінниця</a>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div id="weatherInfo">
                        <div class="col-12 col-md-6 col-lg-9">
                            <img src="https://openweathermap.org/img/wn/{{weather.weather.0.icon}}@2x.png">
                        </div>
                        <div class="col-12 col-md-6 col-lg-9">
                            <p class="mb-0">Температура: {{weather.main.temp}}°C</p>
                            <p class="mb-0">Тиск: {{weather.main.pressure}} мм рт.ст</p>
                            <p class="mb-0">Вологість: {{weather.main.humidity}}%</p>
                            <p class="mb-0">Швидкість вітру: {{weather.wind.speed}}м/c</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{{> footer}}

</body>
</html>